/* Global Items */
body
{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
}

span
{
    font-weight: bold;
}

.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#active 
{
    color: #6bf;
    font-weight: bold;
}

#contactDetails ul 
{
    list-style-type: none;
    
}

#contactDetails ul li
{
    padding-bottom: 5px;
    
}


/* This will center the navbar in the middle of the page. */
.navbar 
{
    margin: auto;
    width: 30%;
    overflow: hidden;
    padding: 10px;
}

.navbar ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li 
{
    display: inline;
}

.navbar ul li a 
{
    text-decoration: none;
    color: white;
    padding: 8px 8px;
}

.navbar ul li a:hover:not(.active)
{
    font-weight: bold;
    color: #6bf;
    border-radius: 5px 5px 5px 5px;
}

/* Float Columns side by side */
.column
{
    float: left;
    width: 25%;
    
}

.column:last-child
{
    margin-left: -35px;
}


.card
{

    display: inline-block;
    margin: 10px;
    padding: 8px;
    padding-right: 28px;
 
}

.card h4
{
    text-align: center
}

.row
{
    display: inline;
}

#workDuration
{
    float: right;
    display: inline;
}

#transcript
{
    color: #6bf;
    text-decoration: none;
}

/* Grid Layout in the index.html page */

.index-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30em
}


/* Grid Layout in the skills.html page */

.skills-wrapper 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.skills-wrapper >div 
{
    padding: 5px;
}

.skills-wrapper div h4
{
    text-align: center;
}
